<div class="container search-page">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 mt-5">
      <div>
        <form id="search-form">
          <input type="text" class="form-control" name="search" placeholder="Enter user....." required>
          <div class="d-grid mt-2">
            <a type="submit" class="btn btn-block btn-search">
              Search User <i class="fa fa-arrow-right"></i>
            </a>
          </div>
        </form>
      </div>

    </div>
  </div>
  <div class="col-md-4"></div>
</div>
