<div class="container homepage mb-5">
  <div class="row">
    <div class="col-md-4 mt-4">
      <div class="card">
        <img src="https://avatars.githubusercontent.com/u/44901716?v=4" class="card-img-top" alt="My profile picture">
        <div class="card-body text-center">
          <h4 class="card-text">Wilson Kinyua</h4>
          <h6>Full Stack Developer</h6>
          <p>Karatina, Nyeri Kenya</p>
          <!-- <p>Web Developer | Software Developer | Full-stack Developer | PHP Developer | Laravel Developer | Backend Developer | Frontend Developer | Angular Js Developer</p> -->
          <div class="d-flex justify-content-evenly">
            <div>
              <p> <i class="fa fa-user"></i> 36 followers</p>
            </div>
            <div>
              <p> <i class="fa fa-user"></i> 36 followers</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-3 card-social-media">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <div>
                <i class="fa fa-globe"></i>
                website
              </div>
              <div>
                <small>https://developerwilson.com</small>
              </div>
            </div>

          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <div>
                <i class="fa fa-twitter"></i>
                twitter
              </div>
              <div>
                <small> @muthoniwilsonk</small>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <div>
                <i class="fa fa-linkedin"></i>
                linkedin
              </div>
              <div>
                <small> @wilsonkinyua</small>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <div>
                <i class="fa fa-instagram"></i>
                instagram
              </div>
              <div>
                <small> @developerwilson</small>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <div>
                <i class="fa fa-github"></i>
                github
              </div>
              <div>
                <small> @wilsonkinyua</small>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- <div class="card">
        <div class="card-body text-center">
          <h4 class="card-text">Wilson Kinyua</h4>
          <h6>Full Stack Developer</h6>
          <p>Karatina, Nyeri Kenya</p>
          <p>Web Developer | Software Developer | Full-stack Developer | PHP Developer | Laravel Developer | Backend Developer | Frontend Developer | Angular Js Developer</p>
          <ul>
            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div> -->
    </div>
    <div class="col-md-7 mt-4">
      <div class="card">
        <ul class="list-group list-group-flush my-details">
          <li class="list-group-item">Name: <span>Wilson Kinyua</span></li>
          <li class="list-group-item">Email: <span>wilsonkinyuam@gmail.com</span></li>
          <li class="list-group-item">Phone: <span>+254717255460</span></li>
          <li class="list-group-item">Address: <span>Nairobi, Kenya</span></li>
        </ul>
      </div>
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"></li>
          <li class="list-group-item">
            <p>Web Developer | Software Developer | Full-stack Developer | PHP Developer | Laravel Developer | Backend
              Developer | Frontend Developer | Angular Js Developer</p>
          </li>
        </ul>
      </div>
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">About me</li>
          <li class="list-group-item">
            <p>I am a Full Stack developer & UI/UX Designer based in Nairobi, Kenya. I love solving problems with code.
              I love clean code and well written code. I’m currently expanding more and more in web development, android
              development and new technologies.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row my-repository">
    <div class="col-md-12 text-center m-2">
      <h2>My repositories</h2>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Dangote industries limited</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="card-body text-center">
          <!-- <a href="#" class="card-link">Card link</a> -->
          <a href="#" class="card-link color-primary">View repository</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Dangote industries limited</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="card-body text-center">
          <!-- <a href="#" class="card-link">Card link</a> -->
          <a href="#" class="card-link color-primary">View repository</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Dangote industries limited</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="card-body text-center">
          <!-- <a href="#" class="card-link">Card link</a> -->
          <a href="#" class="card-link color-primary">View repository</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Dangote industries limited</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="card-body text-center">
          <!-- <a href="#" class="card-link">Card link</a> -->
          <a href="#" class="card-link color-primary">View repository</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
