<nav class="navbar-home p-2">
  <div class="container-fluid">
    <div class="d-flex justify-content-between">
      <div>
        <a routerLink="">
          <img class="logo" src="assets/img/logo.png" alt="">
        </a>
        <span class="links text-white text-bold">
          <a routerLink="/search-user" routerLinkActive="active">Search User</a>
          <a routerLink="/search-repository" routerLinkActive="active">Search Repository</a>
        </span>
      </div>
      <div>
        <h4 class="text-bold"><span class="text-white">GitHub</span> Username</h4>
      </div>
    </div>
  </div>
</nav>
