/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
:root {
  --font-family: "Noto Sans", sans-serif;
  --main-color: #ea1e63;
}

body {
  background-color: rgb(248, 239, 239);
}
.active {
  color: black !important;
}
a {
  text-decoration: none;
}

p {
  color: #4b4b4b;
  line-height: 1.5em;
  font-family: "Noto Sans", sans-serif;
}
.color-primary {
  color: var(--main-color);
}
.text-bold {
  font-weight: 900;
}
.logo {
  height: 40px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

/* navigation bar */
.navbar-home {
  background-color: var(--main-color);
}
.navbar-home h4 {
  font-family: "Lobster", cursive;
}

.navbar-home .links a {
  margin-left: 15px;
  color: rgba(255, 255, 255, 0.85);
}

.card {
  background: #fff none repeat scroll 0 0;
  border: 2px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 11px 5px rgb(103 58 183 / 10%);
  margin-bottom: 30px;
  padding: 20px 10px;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
}

.card:hover {
  box-shadow: 0 0 11px 5px rgba(70, 41, 121, 0.25);
  background: linear-gradient(-19deg, rgba(235, 174, 8, 0.95) 0px);
}

/* footer */
footer {
  background-color: var(--main-color);
  /* left: 0;
  color: #eee;
  width: 100%;
  position: fixed;
  bottom: 0; */
}
footer ul {
  display: flex;
}
footer ul li {
  list-style-type: none;
  margin: 10px;
}
footer ul li a {
  color: whitesmoke !important;
}

/* homepage */
.homepage .card-img-top {
  border-radius: 50%;
  display: block;
  float: none;
  height: 180px;
  line-height: 32px;
  margin: 0 auto;
  width: 180px;
  margin-top: 16px;
}


.homepage .justify-content-evenly {
  font-size: 12px;
}

.my-details span {
  margin-left: 150px;
}

/* my-repository */
.my-repository h2 {
  text-transform: uppercase;
  color: var(--main-color);
}
